/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  box-sizing: border-box;
}

#top-title {
  font-size: 26px;
  margin-bottom: 33px;
}

#top-title span {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 33px;
}

#head-title {
  font-size: 26px;
  font-weight: bold;
  margin: 18px 0;
}

#main {
  margin: 33px;
}

#books-table td {
  padding: 1px 5px 7px;
}

#text-wrap {
  margin-left: 33px;
}

#text-wrap p,#text-wrap a {
  margin-bottom: 33px;
}

#text-wrap span {
  font-weight: bold;
}

#new-title {
  font-size: 20px;
  margin: 18px 0;
}

#new-wrap {
  display: block;
}

#new-wrap div {
  margin-bottom: 10px;
}

#new-wrap input,#new-wrap textarea {
  padding: 1px 2px;
}

#flash-message {
  margin-bottom: 33px;
  color: green;
}

#validation {
  width: 450px;
  margin-bottom: 20px;
  border: 2px solid red;
  background-color: #f0f0f0;
}

#validation p {
  padding: 5px 5px 5px 15px;
  background-color: red;
  font-weight: bold;
  color: #fff
}

#validation ul {
  margin :33px;
  padding-left: 40px;
}